
/* General body styles */
body {
    background-color: #fcf5e7;
    color: #494949;
    font-family: 'Tahoma', 'Roboto', 'Futura', sans-serif;
}

/* h1 styles */
h1 {
    text-shadow: 5px 5px #1b3652;
    background-color: #145DA0;
    color: #fcf5e7;
    font-family: 'Baskerville', 'Courier', 'Garamond', serif;
}

/* h2 styles */
h2 {
    text-shadow: 5px 5px #1b3652;
    background-color: #145DA0;
    color: #fcf5e7;
    font-family: 'Baskerville', 'Courier', 'Garamond', serif;
}

hr {
    color: #1b3652;
}
